*{  
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0 auto;
}
.sub-title{
    color:#151414;
    font-size: 40px;
    font-weight: 700;
}
.text-title{
    color: #151414;
    font-size: 65px;
    font-weight: 700;
}
.text-description{
    color:  #444343;
    font-size: 16px;
    font-weight: 400;
}
.banner{
    display: flex;
    padding: 0 100px;
    align-items: center;
}
.bannercol{
    text-align: left;
}
.banner img {
    width: 500px;
}
span{
    color: #DD7800;
}
.btn{
border-radius: 5px;
background: #DD7800;
border: none;
padding: 15px 40px;
color: white;
font-size: 18px;
}
.failures img{
    width: 400px;
}
.failures{
    display: flex;
    padding: 0 100px;
    align-items: center;
    gap: 200px ;
}
section{
    margin-bottom: 200px;
}
ul li{
    padding-bottom: 10px;
    margin-left: -20px;
}
.plans{
    display: flex;
    padding: 0 100px;
    gap: 20px ;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
.positive{
    background-image: url('assets/watch12.png');
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    margin: 0 100px;
}
.positive div{
    padding: 40px 100px;
}
.btn2{
border-radius: 5px;
background: white;
border: none;
padding: 15px 40px;
color: orangered;
font-size: 20px;
}
footer{
    display: flex;
    gap: 300px ;
    padding: 100px 100px;
    margin-top: 200px;
    background-color: #151414;
    color: white;
    align-items: center;
    text-align: center;
}
footer img{
    border-radius: 50%;
    margin-right: 10px;
    
}

footer input{
    width:325px ;
    height: 65px;
    border: 1px solid white;
    background: #151414;
    border-radius: 10px;
    text-align: center; 
    color: white;
}
